<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Assemble 😎</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<p class="title">Target 확인 해주세요.</p>
<h3 th:text="${subject}"></h3>
<table>
    <tr>
        <td width="20%">기존 Assemble 기간</td>
        <td width="80%"><p th:text="${period}"></p></td>
    </tr>
    <tr>
        <td>🎯 Target 일정</td>
        <td><p th:text="${targetAt}"></p></td>
    </tr>
    <tr>
        <td>라벨</td>
        <td><p th:text="${label}"></p></td>
    </tr>
    <tr>
        <td>Target 요청 수신자들</td>
        <td>
            <ul>
                <li th:each="assignee: ${assignees}">
                    <p th:text="${assignee}"></p>
                </li>
            </ul>
        </td>
    </tr>
</table>
</body>
</html>
